.catalog {
  width: min-content;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(1, $card-width);
  grid-template-rows: 1fr 1fr;
  gap: 48px;
  justify-content: start;

  @include onTablet {
    grid-template-columns: repeat(3, $card-width);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, $card-width);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
